html {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  border-bottom: 60px solid salmon;
  border-left: 60px solid salmon;
  border-right: 60px solid salmon;
}

*:not(img),
*:before,
*:after {
  box-sizing: inherit;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.square-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  flex: 1;
  flex-shrink: 1;
  height: 60px;
  border: 1px solid black;
}

.square:hover {
  background-color: black;
}

.button-container {
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-squares {
  padding: 16px;
  border: 2px solid black;
  margin: 25px 0px 25px 0px;
}
