@font-face {
  font-family: "Bubble";
  src: url(./assets/Bubblegum.ttf) format("truetype");
}

html {
  background-color: rgb(170, 6, 170);
  box-sizing: border-box;
}

body {
  min-height: 140vh;
  margin: 0;
}

*:not(img),
*:before,
*:after {
  box-sizing: inherit;
}

.header-container {
  background-color: rgb(170, 6, 170);
}

.title {
  font-family: Bubble;
  color: rgb(31, 29, 29);
  text-align: center;
  font-size: 56px;
  margin-top: 20px;
}

.button-container {
  border: 2px solid black;
  margin: 0 auto;
  width: 100vh;
  background-color: rgb(78, 0, 78);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 30px;
}
.button-squares,
.button-clean {
  font-weight: 800;
  border-radius: 10px;
  padding: 16px;
  margin: 20 0 20 0;
  background-color: rgb(180, 180, 180);
  border: 1px solid black;
}

.button-squares {
  margin-left: 18px;
}

.button-clean {
  background-color: transparent;
  border: none;
}

.eraser,
.pencil,
.rainbow {
  border: none;
  padding: 8px;
  border-radius: 10px;
}

.eraser {
  background: none;
}
.pencil {
  background: purple;
}

.rainbow {
  background: none;
}
.color-picker {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  border-radius: 50%;
}

.grid-container {
  margin: 0 auto;
  border: black solid 2px;
  width: 100vh;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.square-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  border: 1px solid grey;
  aspect-ratio: 1 / 1;
  flex: 1;
}
